{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}"></link>
    <link rel="stylesheet" href="{% static 'blog/includes/post.css' %}"></link>
{% endblock  %}

{% block page_title %}All posts{% endblock %}

{% block page_body %}
    <section id="all-posts">
        <ul>
            {% for post in all_posts %}
                {% include 'blog/includes/post.html' with post=post %}
            {% endfor %}
        </ul>
    </section>
{% endblock  %}