{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% block css_files %}{% endblock  %}
    <link rel="stylesheet" href="{% static 'app.css' %}"></link>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %} Monthly_challenges {% endblock %}</title>
</head>
<body>
    <header id="main-navigation">
        <h1><a href="{% url 'blog_index' %}"> Nikita's blog</a></h1>
        <nav>
            <a href="{% url 'blog_posts' %}">All posts</a>
            <a href="{% url 'favorite-posts' %}">Favorite posts</a>
        </nav>
    </header>
    {% block page_body %}{% endblock %}
</body>
</html>